.button {
    height: 2.87rem;
    padding: 0 0.87rem;
    border-radius: 0.43rem;
    border: 2px solid #4f4f89;
    background-color: #E8891C;
    /* background-color: #6363db; */
    /* color: #ebebfc; */
    color: #000000;

    font-size: 1rem;
    font-weight: 700;

}