.button {
    height: 2.87rem;
    padding: 0 0.87rem;
    border-radius: 0.43rem;
    border: 2px solid #4f4f89;
    background-color: #6363db;
    color: #ebebfc;

    font-size: 1rem;
    font-weight: 700;

}